
{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid">
    <h2>Nouvelle agence :</h2>
    {{ form_start(formAgence) }}


    {{ form_widget(formAgence) }}
    <br>
    <button type="submit" class="btn btn-success">Valider</button>

    {{ form_end(formAgence) }}
    <br>
</div>
    
{% endblock body %}