{% extends "base.html.twig" %}
{% block title %}Loc'Auto - Regarder la météo à 15 jours{% endblock %}
{% block body %}
    <h5>Pour planifier votre voyage au mieux, consulter la météo des jours à venir pour votre destination !</h5>
    

    <a href="https://meteofrance.com/previsions-meteo-france/nancy/54000" target="_blank">Météo</a>

{% endblock %}